.PinkBroccoli_header_logo {
    margin: 2rem 0;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.PinkBroccoli_header_button {
    margin-bottom: 2rem;
}

.PinkBroccoli_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Rubik', sans-serif;
}

.PinkBroccoli_footer_button {
    margin-top: 2rem;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 15px;
}

/*최대 너비를 500으로 정할것이다*/
.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}
/* 높이와 너비보다 border-radius를 크게하면 동그란 모양이 된다*/
/* object-fit: cover : 사진 비율을 맞춰줌 */

.NNS_B{
    font-family: "NanumSquareB", cursive;
}
/* 나눔스퀘어 글씨체가 없으면 cursive로 보여줌*/

.round_button{
    color:black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: .3rem;
}

/*# 버튼 위에 마우스를 올렸을때 */
.round_button:hover{
    color: dimgrey
}

.article_image {
    width: 60%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem grey;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}